


<div class="logo">
  	<%= image_tag "logo_image_motion.svg" %>
</div>
<div class="login">
  	<%= image_tag "login.svg" %>
</div>
<div class="login_button">
    <div class="user">
    	<%= link_to '고객 로그인', new_user_session_path %>	
    </div>
    <div class="user_designer">
    	<%= link_to '헤어디자이너 로그인', new_designer_session_path %>	
    </div>
</div>